VITE_SUPABASE_URL=https://tqfpbznpuhkdxzcwnvgj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxZnBiem5wdWhrZHh6Y3dudmdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MTcxMzQsImV4cCI6MjA4OTM5MzEzNH0.WQfBP-0WvlsjyyBWps2OSCu_1-AsyOHbaipOxJe3vKEy
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
VITE_ONESIGNAL_APP_ID=your_onesignal_app_id
ONESIGNAL_REST_API_KEY=your_onesignal_rest_api_key
VITE_BITESHIP_API_KEY=your_biteship_api_key
